


<div class="container-fluid" style="background-color:aquamarine;">
    <h1>Welcome to Taste Ride</h1>
</div>


<br/>
<br/>
<br/>


 
<div class="container-fluid" style="margin-left: 80px;">
    <div class="row">
        <div class="col-sm">
        <h2><a href="/admin">  Website Admin   </a></h2>
        <a href="/admin"> <img src="assets/admin.png"/></a>
        </div>

        <div class="col-sm">
        <h2><a href="/customer">  Customer </a></h2>
        <a href="/customer"><img src="assets/customer.png"/></a>
        </div>

        <div class="col-sm">
        <h2><a href="/login">  Authorities </a></h2>
        <a href="/login"><img src="assets/authority.jfif"/></a> 
        </div>
    </div>
</div>


       
  
