<div class="container-fluid" >
    <div class="row" style="background-color:rgb(156, 156, 238) ;" >
    <div class="col-sm">
        <p style="font-size:80px;color: white;font-family:'Times New Roman', Times, serif, 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight:bold;text-align: center;">Welcome To Taste Ride </p>
    </div>
    </div>
    <div class="row" style="background-color:rgb(156, 156, 238) ;" >
        <div class="col-sm">
            <h3 style="font-size: xx-large;color: white;font-style: italic;font-family:'Times New Roman';font-weight: bolder;text-align: center;">For People Who Love To Eat</h3>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color:rgb(156, 156, 238) ;">
    <div class="row">
        <div class="col-sm">
            <div><img src="assets/loginhere.jpg" style="padding-bottom: 40px;"></div>
        </div>
        <div class="col-sm" style="padding-top: 50px;">
        <form [formGroup]="loginForm">
            <label for="email">Enter Registered Email:</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email ID" formControlName="email" required/> <br/>
            <button style="height: 40px;width: 80px;background-color:lightcoral;border-radius: 6px;" (click)="submit()"> Submit </button>
        </form>
        <div *ngIf="check">
            <small> Enter registered email </small>
           </div>
        <div class="d-flex justify-content-center" *ngIf="rotate">
            <div class="spinner-border" role="status" >
              <span class="sr-only" id="loading"></span>
            </div>
          </div>
          <br/>
          <br/>
        <form [formGroup]="otpVarificationForm" *ngIf="flag">
            <div>
                <label for="enteredotp">Please Enter OTP received on your provided email</label>
                <input type="number" id="enteredotp" name="enteredotp" class="form-control" placeholder="Enter OTP here" formControlName="enteredotp" required><br/>
            </div>
           <br/>
            <div>
                <button type="submit" style="height: 40px;width: 80px;background-color:lightcoral;border-radius: 6px;" class="btn btn-primary" (click)="verify()">Verify</button>
            </div>
            <div *ngIf="otpflg">
                <small> Wrong OTP Entered </small>
               </div>
        </form>
        <form [formGroup]="resetForm" *ngIf="login">
            <div>
                <label for="enterpass">Enter Password: </label>
                <input type="password" id="enterpass" name="enterpass" class="form-control" formControlName="enterpass" required><br/>
            </div>
            <div>
                <label for="newpass">Confirm Password: </label>
                <input type="password" id="newpass" name="newpass" class="form-control" formControlName="newpass" required><br/>
            </div>
           <br/>
            <div>
                <button type="submit" style="height: 40px;width: 200px;background-color:lightcoral;border-radius: 6px;" class="btn btn-primary" (click)="ResetPassword()">Change Password</button>
            </div>
            <div *ngIf="valid">
                <small> Enter same password </small>
            </div>
        </form>
       </div>
    </div>
    <div class="row">
    <div class="col-sm">
        <div style="background-color:rgb(156, 156, 238) ;color: white;">Copyright © Taste Ride Pvt. Ltd. | All Rights Reserved</div>
    </div>
    </div>
</div>

