<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#" style="font-size:larger;font-weight: 500;">Taste Ride</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/restaurant">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>

<h3>Select your restaurant</h3>

<table class="table table-dark" border="1" style="border-collapse: collapse" *ngIf="restaurant.length > 0">
    <tr>
        <th> Restaurant id </th>
        <th> restaurant name</th>
        <th> Choose your option</th>
    </tr>

    <tr *ngFor="let emp of restaurant;let i=index">
        <td>{{emp.restaurant_id}}</td>
        <td>{{emp.restaurant_nm | uppercase}}</td>
        <td><button (click)="onSelect(emp.restaurant_id)">Select</button>
        </td>
    </tr>
</table>